<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Query result</title>
</head>
<body>
    <h1>Customer data:</h1>
    <p>Name: <%= result.firstname %> <%= result.lastname %></p>
    <p>address is <%= result.address %></p>
    <p>favoritIceCream: <%= result.favoritIceCream %></p>
    <a href="/"><button>Menu</button></a>
</body>
</html>
